<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'Event Planning System' %></title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="flex h-[60px] bg-pink-400 mb-10 justify-between pl-5 pr-20 items-center">
        <a href="/" class="text-5xl font-black italic text-white">EPS</a>
        <nav>
            <ul class="flex flex-row gap-6 underline text-white text-md font-black">
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/organizers">Organizers</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/event-types">Event types</a></li>
                <li><a href="/reservations">Reservations</a></li>
            </ul>
        </nav>
    </div>
</header>